body {
  background-image: url(assets/stardewvalleylogo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;
  background-color: rgb(255, 255, 255);
  position: relative;
  font-family: sans-serif;
}

#root{
  width: 100%;
  margin: 0%;
}

.header{
padding: 10px;
background-color: rgb(0, 71, 177);
text-align: center;
color:#ffe0b0;
margin: 0%;
font-family: 'Papyrus';
font-size: 2em;
}

.header h4 {
  margin: 10px;
}

footer{
  padding: 10px;
  background-color: rgb(0, 71, 177);
  text-align: center;
  color:#ffe0b0;
  margin: 0%;
  position: relative;
  }

.intro-box{
  position: relative;
  background-color: #ffe0b0;
  border: 12px solid transparent;
  border-image: url(assets/menu_border.png) 16 stretch;
  border-radius: 12px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  color: #9b4f04;
}

.card{
  position: relative;
  background-color: rgba(153, 224, 255, 0.679);
  margin: 10px;
  text-align: center;
  max-width: 350px;
  display: inline-block;
  box-shadow: 10px 5px 5px rgba(24, 20, 43, 0.332);
}

.card:hover{
  background-color: rgba(185, 234, 255, 0.679);
  border-radius: 15px;
  border: #000b29;
}

.inactive-card{
  position: relative;
  background-color: rgba(122, 149, 173, 0.679);
  margin: 10px;
  text-align: center;
  max-width: 350px;
  display: inline-block;
}

.title{
  background-color: green;
  color: white;
  margin: 3px;
  padding: 2px;
  font-weight: normal;
}
.photo-display{
  margin: 3px;
  font-weight: lighter;
  font-size: 16px;
}

.game-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.hints-page {
  background-color: #000b2978;
  color: #ffffff;
  border: 12px solid transparent;
  border-image: url(assets/menu_border.png) 15 stretch;
  padding: 1%;
  border-radius: 12px;
  text-align: center;
}

.hints-page ul {
  width: 100%;
  padding-left: 0;
}

.hints-page li {
  list-style-type: none;
  width: 100%;
  padding-top: 2px;
}

.hint-row {
  list-style-type: none;
  background-color: #000b29;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5px;
  width: 90%;
  border: 1px solid black;
  color: #ffffff;
}


.hangman {
  background-color: rgba(172, 220, 240, 0.679);
  border: 12px solid transparent;
  border-image: url(assets/menu_border.png) 15 stretch;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 12px;
}

button {
  background: transparent;
  border: none;
}